<div class="header">
  <div class="header-on container">
    <div class="support">
      <p>
        <i class="fa fa-headphones" aria-hidden="true"></i> 24x7 live support
      </p>
      <p>
        <i class="fa fa-truck" aria-hidden="true"></i>Free shipping on order
        over 500
      </p>
    </div>
    <div class="filter">
      <select name="leaguage" id="leaguage">
        <option value="1">Tiếng Việt</option>
        <option value="2">English</option>
        <option value="3">Japan</option>
      </select>
      <select name="money-type" id="money-type">
        <option value="1">VND</option>
        <option value="2">Dolar</option>
        <option value="3">Yen</option>
      </select>
    </div>
  </div>
</div>
<div class="header-footer">
  <div class="header-under container">
    <div class="row">
      <div class="col-6 col-md-3 logo">
        <p>
          <a routerLink='/main'><img src="/assets/images/logo.png" alt="logo" width="80%" /></a> 
        </p>
      </div>
      <div class="col-6 col-md-4 search">
        <div class="input-group">
          <input type="text" aria-describedby="basic-addon2" />
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">Search</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5 login">
        <div class="infor-customer">
          <p>
            <i class="fa fa-user" aria-hidden="true"></i
            ><span>YOUR ACCOUNT</span>
          </p>
        </div>
        <div class="login-logout">
          <p>
            <i class="fa fa-lock" aria-hidden="true"></i
            ><span><a class="a-gray" routerLink="/main/login">Login</a> </span>
            <span>| </span> <a class="a-gray" routerLink="/main/signup">SignUp</a> 
          </p>
        </div>
        <div class="cart">
          <p>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i
            ><span>CART</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
