<div class="login text-left">
  <h4 class="login-title">REGISTERED CUSTOMERS</h4>
  <p>If you have an account with us, please log in.</p>
  <div class="container login-introduce">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <div class="row form-group">
        <label for="email">Email</label>
        <input id="email" name="email" class="form-control" type="text" formControlName="email"
          [class.required-input]=" form && form.get('email').hasError('required') && !form.get('email').untouched">
        <span class="required"
          *ngIf=" form && form.get('email').hasError('required') && !form.get('email').untouched">Email bắt buộc
          nhập</span>
        <span class="required"
          *ngIf=" form && form.get('email').hasError('email') && !form.get('email').untouched">Email không đúng định
          dạng</span>

      </div>
      <div class="row form-group">
        <label for="password">Password</label>
        <input id="password" name="password" class="form-control" type="password" formControlName="password"
          [class.required-input]="form && form.get('password').hasError('required') && !form.get('password').untouched">
        <span class="required"
          *ngIf=" form && form.get('password').hasError('required') && !form.get('password').untouched">Password bắt
          buộc nhập</span>
      </div>
    </form>
    
  </div>
  <div>
    <a routerLink="/main/signin">Forgot to password</a> <button type="button" (click)="onSubmit()" class="button-login">Login</button>
  </div>
  <div class="login-introduce">
    <h4 class="login-title">NEW CUSTOMERS</h4>
    <p>
      By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.
    </p>
    <button type="button" class="button-login" routerLink="/main/signup">
          Create an account
    </button>
  </div>
</div>