<div class="footer-banner">
  <div class="container pr-0">
    <div class="test-grid1">
      <div class="test-grid1-item text-left">
        <h3 class="title">NEWS-LETTER</h3>
      </div>
      <div class="test-grid1-item">
        <input type="text" class="input-subcriber" placeholder="Enter email here"> <button class="subcriber" type="button">Subcriber</button>
      </div>
      <div class="test-grid1-item text-right follow">
        <h3 class="title"> 
          FOLLOW US
        </h3>
        <a href="" class="logo-face"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="" class="logo-face face-book"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="footer-content container">
  <div class="test-grid">
    <div class="item footer-content-item">
      <h5 class="footer-content-item_title">
        CATEGORIES
      </h5>
      <p class="footer-content-item_content">
        Curabitur sapien
      </p>
      <p class="footer-content-item_content">
        Curabitur sapien
      </p>
      <p class="footer-content-item_content">
        Curabitur sapien
      </p>
      <p class="footer-content-item_content">
        Curabitur sapien
      </p>
      <p class="footer-content-item_content">
        Curabitur sapien
      </p>
    </div>
    <div class="item footer-content-item">
      <h5 class="footer-content-item_title">
        CATEGORIES
      </h5>
      <p class="footer-content-item_content">
        Curabitur sapien
      </p>
      <p class="footer-content-item_content">
        Curabitur sapien
      </p>
      <p class="footer-content-item_content">
        Curabitur sapien
      </p>
      <p class="footer-content-item_content">
        Curabitur sapien
      </p>
      <p class="footer-content-item_content">
        Curabitur sapien
      </p>
    </div>
    <div class=" item footer-content-item">
      <h5 class="footer-content-item_title">
        CATEGORIES
      </h5>
      <p class="footer-content-item_content">
        Curabitur sapien
      </p>
      <p class="footer-content-item_content">
        Curabitur sapien
      </p>
      <p class="footer-content-item_content">
        Curabitur sapien
      </p>
      <p class="footer-content-item_content">
        Curabitur sapien
      </p>
      <p class="footer-content-item_content">
        Curabitur sapien
      </p>
    </div>
    <div class=" item footer-content-item">
      <h5 class="footer-content-item_title">
        CATEGORIES
      </h5>
      <p class="footer-content-item_content">
        Curabitur sapien
      </p>
      <p class="footer-content-item_content">
        Curabitur sapien
      </p>
      <p class="footer-content-item_content">
        Curabitur sapien
      </p>
      <p class="footer-content-item_content">
        Curabitur sapien
      </p>
      <p class="footer-content-item_content">
        Curabitur sapien
      </p>
    </div>
  </div>
</div>