<div class="home-content">
  <div class="row">
    <div class="col-12">
      <div class="row banner boder-gray">
        <div class="col-5"><img width="100%" src="/assets/images/bag1.jpg" alt="productBanner" class="productBanner"></div>
        <div class="col-7 banner_content">
          <h3>FLAT 50% OFF</h3>
          <h4>For All Purchase value</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et 
          </p>
          <button type="button" class="getnow">Get Now</button>
        </div>
      </div>
      <!-- end banner -->
      <div class="row product-hot">
        <div class="col-6 pl-0">
          <div class="product-hot-item boder-gray">
            <div class="row">
              <div class="col-6 product-hot-item_content">
                <h5 class="product-hot-item_title">
                  consectetur elit
                </h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                </p>
                <button type="button" class="getnow">Get Now</button>
              </div>
              <div class="col-6 product-hot-item_img">
                <img src="/assets/images/sh.jpg" alt="product-hot">
              </div>
          </div>
          </div>
            
        </div>
        <div class="col-6 pr-0">
          <div class="product-hot-item boder-gray">
            <div class="row">
              <div class="col-6 product-hot-item_content">
                <h5 class="product-hot-item_title">
                  consectetur elit
                </h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                </p>
                <button type="button" class="getnow">Get Now</button>
              </div>
              <div class="col-6 product-hot-item_img">
                <img src="/assets/images/sh.jpg" alt="product-hot">
              </div>
          </div>
          </div>
            
        </div>
        <!-- <div class="col-6 product-hot-item">
            <div class="row">
              <div class="col-6 product-hot-item_content">
                <h5 class="product-hot-item_title">
                  consectetur elit
                </h5>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                </p>
                <button type="button" class="getnow">Get Now</button>
              </div>
              <div class="col-6 product-hot-item_img">
                <img src="/assets/images/sh.jpg" alt="product-hot">
              </div>
            </div>
        </div> -->
      </div>
       <!-- end product-hot -->
       <div class="row link-all-product">
         
            <div class="col-12 link-all-product-content boder-gray">
                <h5 class="link-all-product-content_title">LATEST PRODUCTS</h5>
                <p class="router-link"> view all <i class="fa fa-arrow-right" aria-hidden="true"></i></p>
            </div>
       </div>
       <!-- end link-all-product -->
       <div class="row list-product">
          <div class="col-6 col-md-4 pl-0">
            <div class="product-item boder-gray">
              <img width="100%" src="/assets/images/ch.jpg" alt="procut-item">
              <div class="product-item-content boder-top-gray">
                <h6 class="product-item-content_name">Lorem ipsum dolor</h6>
                <div class="price-add">
                    <div class="price">
                        <span class="price-sale">300$</span>
                        <span class="price-max">400$</span>
                        <div><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></div>
                    </div>
                    <div class="add">
                      <button type="button" class="getnow1">Add to Cart</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-4 pl-0">
            <div class="product-item boder-gray">
              <img width="100%" src="/assets/images/ch.jpg" alt="procut-item">
              <div class="product-item-content boder-top-gray">
                <h6 class="product-item-content_name">Lorem ipsum dolor</h6>
                <div class="price-add">
                    <div class="price">
                        <span class="price-sale">300$</span>
                        <span class="price-max">400$</span>
                        <div><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></div>
                    </div>
                    <div class="add">
                      <button type="button" class="getnow1">Add to Cart</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-4 pr-0">
            <div class="product-item boder-gray">
              <img width="100%" src="/assets/images/ch.jpg" alt="procut-item">
              <div class="product-item-content boder-top-gray">
                <h6 class="product-item-content_name">Lorem ipsum dolor</h6>
                <div class="price-add">
                    <div class="price">
                        <span class="price-sale">300$</span>
                        <span class="price-max">400$</span>
                        <div><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></div>
                    </div>
                    <div class="add">
                      <button type="button" class="getnow1">Add to Cart</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
       </div>

    </div>
  </div>
</div>
